---
const { characters } = Astro.props;
---

  
    {
      characters.map((character: any) => {
        if (!character) return null;
        const { kana, roman, slug, description } = character;
        return (
          <div class="flex items-center justify-center py-4 rounded-xs overflow-hidden border-t border-dotted border-clay lg:border-none lg:py-0">
            <div class="shrink w-26 aspect-square mb-2 overflow-hidden rounded-full">
              <img class="block w-full" src={ `/img/character/${ slug }.webp` } alt=`${ kana }（${ roman }）` />
            </div>
              
            <div class="flex-1 pl-4 md:pl-8 text-left">
              <h3 class="text-lg mb-2 font-bold text-gray-500" set:html={ kana }><span class="block">{ roman }</span></h3>
              <p class="inline-block leading-6 text-base" set:html={ description }></p>
            </div>
              
          </div>
        );
      })
    }

