---
import MenuList from "./MenuList.astro"
---
<button id="gNav__open" class="fixed top-5 right-5 z-10 w-12 md:w-30 cursor-pointer md:duration-300 md:hover:opacity-70 md:ease-in-out">
  <img class="block w-10 mx-auto md:w-full md:mx-0" src="/img/menu_icon.webp" alt="button icon">
  <span class="md:font-Mochiy text-mint-soft text-xs md:text-sm font-bold tracking-tighter md:tracking-widest">メニュー</span>
</button>
<dialog id="gNav" class="backdrop:bg-clay">

  <nav class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <button autofocus id="gNav__close" class="absolute -top-20 -right-20 cursor-pointer">
      <span class="text-light-gray tracking-widest text-xs font-bold"><ruby>閉<rp>(</rp><rt>と</rt><rp>)</rp></ruby>じる</span>
      <img class="block w-10 h-10" src="/img/close-icon.svg" alt="閉じる">
    </button>
    <MenuList />
  </nav>
</dialog>

