---
type Props = {
  subTitle?: string;
  marginBottom?: number;
}

const { subTitle } = Astro.props as Props;
---
<h3 class={`font-Walter flex items-center flex-col text-gray-500 text-2xl font-bold tracking-wider mb-5`}>
  {subTitle ? <span set:html={subTitle} /> : <slot />}
</h3>